@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  padding: 6px;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 18px;
}

.footer {
  display: flex;
  background-color: #eeeeee;
  padding: 6px;
  justify-content: space-between;
}

.left-links {
  display: flex;
  gap: 18px;
  padding-left: 18px;
}

.right-links {
  display: flex;
  gap: 18px;
  padding-right: 18px;
}

.input {
  text-align: center;
}

.buttons {
  text-align: center;
}
img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  padding: 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: gray;
}