.odd {
    background-color: hsl(0, 100%, 80%);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

.odd.cool {
    font-size: 24px;
}

#number2 {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#number4 {
    background-color: hsl(120, 100%, 80%);
    font-size: 24px;
    font-weight: bold;
}